<!DOCTYPE html>
<html>
  <body>
    <h1>¡Hola!</h1>
    <p>Este es un saludo desde nuestra aplicación Rails.</p>
    <p>Tu correo ha sido recibido correctamente: <strong><%= @email %></strong></p>

    <p>Gracias por usar nuestra app.</p>
  </body>
</html>
